.personal-photo {
  float: center;
}

.personal-heading {
  font-size: 24pt;
  font-weight: bold;
  margin-bottom: 15px;
}

.personal-description {
  font-size: 14pt;
  margin-bottom: 15px;
  text-align: center;
}

.company-description {
  font-size: 14pt;
  margin-bottom: 15px;
}
